Body{
    background-color: rgb(23,23,23);
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 1px rgba(11,11,11,0.5);
}

.loginForm h1{
    text-align: center;
    margin: 0px;
}

.loginForm button{
    background-color: rgb(25, 79, 255);
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    transform: translateY(-1px);
    cursor: pointer;
    transition: transform 0.25s;
    border-radius: 0px 0px 10px 10px;
}

.loginForm button:hover{
    transform: translateY(0px);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs div{
    display: flex;
    flex-direction: column;
    font-size: small;
}

.inputs input{
    padding: 10px 20px;
    font-size: 16px;
}

